{% extends 'base.html.twig' %}

{% block title "Creer une recette" %}

{% block body %}
    <h1>Creer une nouvelle recette</h1>

    {{ form(form) }}

{#    {{ form_start(form) }}#}
{#      <div class="d-flex">#}
{#          {{ form_row(form.title) }}#}
{#          {{ form_row(form.duration) }}#}
{#      </div>#}
{#    {{ form_rest(form) }}#}
{#    {{ form_end(form) }}#}

{% endblock %}
