{% extends 'base.html.twig' %}

{% block title "Recette : " ~ slug %}

{% block body %}
{#    <h3>{{ slug }} {{ demo }}</h3>#}
{#    <h4>{{ slug | upper }}</h4>#}
{#    <div>#}
{#        <p>{{ person.firstname }}</p>#}
{#        <p>{{ person.lastname }}</p>#}
{#        <p>{{ person.firstname ~ ' ' ~ person.lastname }}</p>#}
{#    </div>#}
{#    <div>{{ slug }} {{ person.firstname ~ ' ' ~ person.lastname | raw }}</div>#}
{#    <div>{{ demo | raw }}</div>#}

      {{ slug }} {{ demo | raw }}
{% endblock %}
